In [68]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
folder = '/home/isacar/workspace/HowToTrainYourMAMLPytorch/'
rows = []
cols = ['experiment', 'seed', 'test_accuracy']
for trial in os.listdir(folder):
    if 'mini' in trial:
        continue
    if not (trial.startswith('sca') or trial.startswith('maml')):
        continue
    experiment = trial[:-2]
    seed = int(trial[-1])
    try:
        logs_path = os.path.join(folder, trial, 'logs')
        test_path = os.path.join(logs_path, 'test_summary.csv')
        test_df = pd.read_csv(test_path)
        x = test_df.test_accuracy_mean.max()
        rows.append([experiment, seed, x])
    except FileNotFoundError as e:
        pass
df = pd.DataFrame(data=rows, columns=cols)

In [77]:
df

                        experiment  seed  test_accuracy
0      sca_cubs200_1_2_0.01_48_5_1     2       0.570311
1   maml++_cubs200_1_2_0.01_48_5_1     2       0.571111
2      sca_cubs200_5_2_0.01_48_5_1     0       0.702156
3      sca_cubs200_1_2_0.01_48_5_1     0       0.572333
4      sca_cubs200_5_2_0.01_48_5_1     1       0.698711
5      sca_cubs200_5_2_0.01_48_5_1     2       0.697889
6   maml++_cubs200_5_2_0.01_48_5_1     0       0.681467
7   maml++_cubs200_5_2_0.01_48_5_1     2       0.689667
8   maml++_cubs200_1_2_0.01_48_5_1     0       0.545711
9   maml++_cubs200_1_2_0.01_48_5_1     1       0.548756
10     sca_cubs200_1_2_0.01_48_5_1     1       0.595000
11  maml++_cubs200_5_2_0.01_48_5_1     1       0.674489

In [75]:
df.groupby('experiment').mean()

                                seed  test_accuracy
experiment
maml++_cubs200_1_2_0.01_48_5_1     1       0.555193
maml++_cubs200_5_2_0.01_48_5_1     1       0.681874
sca_cubs200_1_2_0.01_48_5_1        1       0.579215
sca_cubs200_5_2_0.01_48_5_1        1       0.699585

In [76]:
df.groupby('experiment').std() / np.sqrt(3)

                                   seed  test_accuracy
experiment
maml++_cubs200_1_2_0.01_48_5_1  0.57735       0.008008
maml++_cubs200_5_2_0.01_48_5_1  0.57735       0.004386
sca_cubs200_1_2_0.01_48_5_1     0.57735       0.007914
sca_cubs200_5_2_0.01_48_5_1     0.57735       0.001307